.post-list {
    width: 100%;
}

.post-entry {
    padding-bottom: 2rem;
    margin-bottom: 2.5rem;
    word-wrap: break-word;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    white-space: pre-wrap;

    & h3 {
        align-self: flex-start;
    }
}

.post-entry:not(:last-child) {
    border-bottom: 2px solid #1f0103;
}